<div class="main-page">
  <div class="total">
    <p>支出合計　　　　　　　:</p>
    <p>家事ポイント　　　　　:</p>
    <p>ありがとうポイント　　:</p>
  
  </div>

  <div class="calendar">
    <%= month_calendar events:@spendings do |date, spendings| %>
      <%= date %>

        <div class="day-spending">
          <% spendings.each do |spending| %>
            <div class= "shopping-category">
              <%= link_to('#', class: 'shopping-category') do %>
              <span><%= spending.shopping_category.name %>：</span><span><%= spending.amount %>円</span>
              <% end %>
            </div>
          <% end %>
        </div>  
    <% end %>
  </div>
  <div class="btn_new">
    <ul class="btn_new">
      <li class="btn_list"><%= link_to "支出を登録", new_spendings_path, class: "btn_spendings" %></li>
      <li class="btn_list"><%= link_to "家事ポイントを登録", "#", class: "btn_point"%></li>
      <li class="btn_list"><%= link_to "ありがとう", "#", class: "btn_thanks" %></li>
    </ul>
  </div>

  <div class="percentage">
  </div>
</div>