<header>
  <%= render partial:'layouts/header' %>
</header>
<main class="form-spending">
  <%= form_with model: @spending, url: spending_path, local: true do |f| %>
    
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form">
      <span><%= f.label "お支払い" %>
      <br><%= f.collection_select(:account_id, Account.all, :id, :name, {}, {class:"account-select"}) %></span>
    </div>

    <div class="form">
      <span><%= f.label "日付" %>
      <br><%= f.date_select :start_time, {}, class: "date" %></span>
    </div>

    <div class="form">
      <span><%= f.label "カテゴリーを選択" %>
      <br><%= f.collection_select(:shopping_category_id, ShoppingCategory.all, :id, :name, {}, {class:"shopping-category-select"}) %></span>
    </div>
    
    <div class="form">
      <span><%= f.label "金額" %>
      <br><%= f.text_field :amount, class: "amount" %>円</span>
    </div>

    <div class="form">
      <span><%= f.label "備考欄" %>
      <br><%= f.text_area :content, class: "content" %></span>
    </div>

    <div class="form-btn">
      <%= f.submit "編集", class: "btn" %>
    </div>
  <% end %>
</main>