<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
  </header>
  <main>
    <div class="back_img">
      <%= image_tag 'calculator.jpg', class:'calculator' %>
      <%= image_tag 'dish.jpg', class:'dish' %>
      <%= image_tag 'flowers.jpg', class:'flowers' %>
      <%= image_tag 'sentakumono.jpg', class:'sentakumono' %>
      <%= image_tag 'recipi.jpg', class:'recipi' %>
      <%= image_tag 'market.jpg', class:'market' %>
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>