<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <%= render partial:'layouts/header' %>
  </header>
  <main>
    <% if user_signed_in? %>
      <%= render 'mypage' %>
    <% else %>
      <div class="main">
        <ul class="back_img">
          <li><%= image_tag 'dish.jpg', class:'dish' %></li>
          <li><%= image_tag 'flowers.jpg', class:'flowers' %></li>
          <li><%= image_tag 'sentakumono.jpg', class:'sentakumono' %></li>
          <li><%= image_tag 'recipi.jpg', class:'recipi' %></li>
        </ul>
        <div class="title_section">
          <section>
            <p>大切な人と、お金の管理で揉めないように、
            <br>最初に決めよう。暮らしの決まりごと。</p>
            <div>
              <ul class="sign_up">
                <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
                <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    <% end %>
    </main>

  <footer>
  </footer>

</body>
</html>