<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <%= render partial:'layouts/header' %>
  </header>
  <main>
    <% if user_signed_in? %>
      <%= render partial: 'mypage' %>
    <% else %>
      <div class="main">
        <div class="back_img">
          <%= image_tag 'back.jpg', class:'back-img' %>
        </div>
        <div class="title_section">
            <section>
              <p>人とともに暮らしていくために、
              <br>しっかり管理して、感謝しよう。</p>
            </section>
        </div>
      </div>

        <!-- こんな方におすすめ！ -->
        <div>
          <h2>こんな方におすすめ！</h2>
          <ul class="target">
            <li>
              <%= image_tag 'wallet.png', class:'wallet' %>
              <span><br>お財布が別々のふたりに。</span>
            </li>
            <li>
              <%= image_tag 'housework.png', class:'house_work' %>
              <span><br>家事の負担が偏っているふたりに。</span>
            </li>
            <li>
              <%= image_tag 'thankyou.png', class:'thank_you' %>
              <span><br>ありがとうが足りないふたりに。</span>
            </li>
          </ul>
        </div>
        <!-- こんな機能がある！ -->
        <div >
          <h2>使える機能</h2>
          <ul class="functions">
            <li class="function">
              <%= image_tag 'calendar.png', class:'calender_prev' %>
              <span><br>スケジュール帳のように、
              <br>日付ごとに管理できます。</span>
            </li>
            <li class="function">
              <%= image_tag 'graph.png', class:'graph' %>
              <span><br>グラフで支出が見える化できるので、
              <br>管理しやすいです。</span>
            </li>
            <li class="function">
              <%= image_tag 'thankyou2.png', class:'function_thank_you' %>
              <span><br>家事を登録。自分の支出をマイナスに。
              <br>家事に対してありがとうを送ることができます。</span>
            </li>
          </ul>
        
        </div>

      </div>
    <% end %>
    </main>

  <% unless user_signed_in? %>
  <footer>
    <ul class="footer_user">
      <li><%= link_to '新規登録', new_user_registration_path, class:'sign_up' %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class:'log_in' %></li>
    </ul>
  </footer>
  <% end %>
</body>
</html>