<header>
  <%= render partial:'layouts/header' %>
</header>
<main class="form-spending">
  <%= form_with model: @spending, url: spendings_path, local: true do |form| %>
    
    <div class="form">
      <span><%= form.label "お支払い" %>
      <br><%= form.collection_select(:account_id, Account.all, :id, :name, {}, {class:"account-select"}) %></span>
    </div>

    <div class="form">
      <span><%= form.label "日付" %>
      <br><%= form.date_select :start_time, {}, class: "date" %></span>
    </div>

    <div class="form">
      <span><%= form.label "カテゴリーを選択" %>
      <br><%= form.collection_select(:shopping_category_id, ShoppingCategory.all, :id, :name, {}, {class:"shopping-category-select"}) %></span>
    </div>
    
    <div class="form">
      <span><%= form.label "金額" %>
      <br><%= form.text_field :amount, class: "amount" %>円</span>
    </div>

    <div class="form">
      <span><%= form.label "備考欄" %>
      <br><%= form.text_area :content, class: "content" %></span>
    </div>

    <div class="form-btn">
      <%= form.submit "登録", class: "btn" %>
    </div>
  <% end %>
</main>