<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <%= render partial:'layouts/header' %>
  </header>
  <main>
  <div class="spenbing">
    <ul class="spending-data">
      <li>支出　　　　：　<%= @spending.amount %> 円</li>
      <li>カテゴリー　：　<%= @spending.shopping_category.name %></li>
      <li>備考欄　　　：　<%= @spending.content %></li>
    </ul>
  <div>
  <div>
    <ul class="btn-edit-delete">
      <li><%= link_to "編集する", edit_spending_path, class:"btn-edit" %></li>
      <li><%= link_to "削除する", "#", method: :delete, class:"btn-delete" %></li>
    </ul>
  </div>
  </main>
</body>
</html>