<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=devise-width, initial-scale=1.0" />
  <title>tomokura</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <%= render partial:'layouts/header' %>
  </header>
  <main>
    <div class="main">
      <div class="registration">
        <h2>新規登録</h2>
          <div class='signup-flash-message'>
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <div class="error_messages">
          <%= render "devise/shared/error_messages", resource: resource %>
          </div>
          <div class="field">
            <label class="form-text">名前</label><br>
            <div class="form">
              <%= f.text_field :nickname, class:"input-name", autofocus: true, autocomplete: "nickname", placeholder:"例) ふうこ" %>
            </div>
          </div>

          <div class="field">
            <label class="form-text">メール</label><br>
            <div class="form">
              <%= f.email_field :email, class:"input-email", autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="field">
            <label class="form-text">パスワード（6文字以内）</label><br>
            <div class="form">  
              <%= f.password_field :password, class:"input-password", autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
            </div>
          </div>

           <div class="field">
             <label class="form-text">パスワード（確認）</label><br>
             <div class="form"> 
               <%= f.password_field :password_confirmation, class:"input-password", autocomplete: "new-password", placeholder: "再入力" %>
             </div>
           </div>

           <div class="actions">
             <%= f.submit "登録する", class:"btn_sign_up" %>
           </div>
         <% end %>
      </div>
    </div>
  </main>
</body>
</html>
